div{
  height: 400px;
  margin:0;
}
body{
  margin:0;
  text-align: center;
}
h1{
  margin-top: 0;
  width: 13%;
  margin: 0 auto 0 auto;
}
.pp{
  width: 25%;
  position: absolute;
  top:20px;
  left:40%;
  right:40%;
  width: 20%;
}
.top{
  background-color: #89b5af;
  padding-top:  100px;
  position: relative;
}
.mid{
  background-color: #ded9c4;
  height: 400px;
  padding-top: 400px;
  position: relative;
}
.bot{
  background-color: #96c7c1;
  height: 400px;
  padding: 40px;
}
.top-cloud{
  position: absolute;
  left: 100px;
  top:50px;
}
.bot-cloud{
  position: absolute;
  right:50px;
  top:150;
}
.mountain{
  position: absolute;
  bottom:0;
  left:30%;
  right:30%;
  width: 40%;
}
